<%- include("partials/header") %>
<ul>
    <li><a href="/register">Sign up!</a></li>
    <li><a href="/log-in">log-in!</a></li>
    <li><a href="/log-out">log out!</a></li>
</ul>


<%- include("partials/footer") %>